.nav-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-logo a, .nav-support a {
    color: $textcolor;
    font-weight: bold;
    text-decoration: none;
}

nav a {
    color: inherit;
    text-decoration: inherit;
}

nav a:hover {
    text-decoration: underline;
}

@media(max-width: 768px) {
    .nav-menu {
        order: 2;
        flex: 0 0 100%;
        margin-top: 10px;
    }
}

.nav-menu li {
    display: inline;

    margin: 0 5px;
    padding: 0 5px;
}

.nav-menu li:hover {
    text-decoration: underline;
}

.nav-menu ul .active::before {
    content: "> "
}

.nav-menu ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    background-color: $darkbg;
    margin: 0;
    padding: 15px;

    color: $HLtextcolor;

    border-bottom-width: 3px;
    border-bottom-color: $HLDetail;
    border-bottom-style: solid;
}
